.intro {
  min-height: 89.5vh;
  background-image: url('../public/background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageCont {
  padding-top: 1%;
  height: 20vh;
  display: flex;
  flex-direction: row;
}

.intro_text{
  margin-top: 1%;
  padding: 0.5%;
  margin-left: 0.5%;
}

.container {
  padding-top: 30px;
}